@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-59U.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meKCM.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v10/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v10/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  display: flex;
  align-self: center;
  flex-direction: column;
  background: #F7F7F7;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 125px;
  width: 100vw;
  background: #E8E8E8;
}
.logo {
  font-family: 'Roboto Condensed', sans-serif;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #4E4E4E;
}
.menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  font-family: 'Roboto Condensed', sans-serif;
  width: 470px;
  height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: #4E4E4E;
}
.head:hover {
  color: #1ABB9C;
  transition: 0.5s;
}
li {
  padding-right: 20px;
}
.media_menu {
  display: none;
  width: 100vw;
  height: 45px;
  background: #212121;
}
#burger_menu {
  position: absolute;
  top: 141px;
  right: 20px;
  display: none;
}
#burger_menu:checked + .burgermenu {
  height: 230px;
}
#burger {
  height: 23px;
  width: 25px;
  display: block;
  position: absolute;
  top: 137px;
  right: 15px;
  z-index: 4;
  cursor: pointer;
  background: url("../images/burger.png");
}
.burgermenu {
  height: 0;
  width: 100vw;
  position: relative;
  left: 0;
  top: 45px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(75, 75, 75, 0.9);
  transition: height 0.5s ease;
  z-index: 3;
  overflow: hidden;
}
.ulburgermenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  color: #dcdcdc;
  text-align: center;
  width: 100vw;
}
.liburgermenu {
  margin: 10px 0 10px 0;
  cursor: pointer;
  transition: color 0.1s ease-out;
  padding: 0;
}
.liburgermenu:hover {
  color: #1abb9c;
  transition: 0.5s;
}
.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 100vw;
}
.banner_img {
  height: 600px;
  width: 100vw;
}
.description {
  font-family: 'Roboto Slab', serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -605px;
  height: 600px;
  width: 100vw;
}
.description_h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #f3f3f3;
  margin-top: 197px;
  width: 75%;
  height: fit-content;
}
.description_p {
  text-align: center;
  font-size: 32px;
  color: #a8a8a8;
  margin-top: 43px;
  width: 60%;
  height: fit-content;
}
.see {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  text-decoration: none;
  text-transform: uppercase;
  width: 141px;
  height: 41px;
  background: #3F8DBF;
  border-radius: 5px;
  border-bottom: solid 5px #3678A3;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
.see:hover {
  background: #317097;
  transition: 0.3s;
}
.Service {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
}
.servises {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1172px;
  height: fit-content;
  border-bottom: solid 2px #DCDCDC;
}
.info_animation {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 277px;
  width: 293px;
}
.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91px;
  width: 91px;
  border-radius: 50%;
  margin-top: 40px;
}
.animation img {
  height: 50%;
  width: 50%;
}
.Pellentesque {
  background: #9D9ABF;
}
.Consectetur {
  background: #D2514B;
}
.Tristiquet {
  background: #66A3C6;
}
.Fermentum {
  background: #E8C04F;
}
.animation:hover {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.Services {
  margin-top: 29px;
  font-size: 18px;
  color: #4E4E4E;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.Services_description {
  display: inline-block;
  width: 233px;
  margin-top: 18px;
  font-size: 14px;
  color: #616161;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
}
.work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 65px;
  height: fit-content;
  width: 100vw;
  font-family: 'Roboto Condensed', sans-serif;
}
.olw {
  display: flex;
  color: #4E4E4E;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
  width: 396px;
}
.work-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 30px;
  width: 396px;
  height: fit-content;
}
.work-block:first-child {
  margin-top: -16px;
}
.work-image {
  overflow: hidden;
  width: 381px;
  height: 271px;
}
.work-img {
  transition: all 0.5s ease-out;
}
.work-img:hover {
  transform: scale(1.2);
}
.work-title {
  color: #4E4E4E;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  margin-top: 25px;
}
.work-explanation {
  color: #A8A8A8;
  font-size: 13px;
  display: flex;
  margin-top: 14px;
}
.work-text {
  width: 371px;
  height: 43px;
  color: #5C5C5C;
  font-size: 14px;
  display: flex;
  margin-top: 23px;
}
.quotes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 231px;
  width: 100vw;
  background: #EFEFEF;
  margin-top: 40px;
}
.quote {
  margin-top: 5px;
}
.text_quote {
  text-align: center;
  width: 50vw;
  height: fit-content;
  color: #A1A1A1;
  font-size: 20px;
  margin-top: 25px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  background: #212121;
  font-family: 'Merriweather', serif;
}
.footer-social {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: fit-content;
  width: 75vw;
  border-bottom: 1px solid #6C6C6C;
}
.get_in_touch {
  width: 257px;
  height: 360px;
  margin-right: 10px;
}
.g_i_t {
  color: #6C6C6C;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-top: 51px;
}
.g_i_t_text {
  color: #CACACA;
  width: 252px;
  height: 63px;
  font-size: 14px;
  display: flex;
  margin-top: 25px;
}
.contact {
  width: 180px;
  height: 110px;
  color: #CACACA;
  font-size: 14px;
  margin-top: 25px;
  margin-left: 20px;
}
.socials-contact {
  margin-top: 5px;
}
.socials {
  display: block;
  position: relative;
  top: -34px;
  left: -20px;
}
.phone {
  top: -15px;
}
.mail {
  top: -12px;
}
.twitter {
  width: 247px;
  height: 360px;
  margin-right: 10px;
}
.twitt {
  color: #6C6C6C;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-top: 51px;
}
.twitts {
  width: 222px;
  height: 57px;
  color: #CACACA;
  font-size: 14px;
  display: flex;
  margin-top: 25px;
}
.image_twitter {
  display: block;
  position: relative;
  top: -54px;
  left: -20px;
}
.popular {
  width: 257px;
  height: 360px;
  margin-right: 10px;
}
.posts {
  color: #6C6C6C;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 51px;
}
.Vivamus {
  color: #CACACA;
  font-size: 14px;
  display: flex;
  margin-top: 24px;
}
.data {
  color: #CACACA;
  font-size: 14px;
}
.about_us {
  width: 257px;
  height: 360px;
}
.A_us {
  color: #6C6C6C;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-top: 51px;
}
.a_u {
  color: #CACACA;
  font-size: 14px;
  display: flex;
  margin-top: 24px;
  line-height: 1.5;
}
.bottom_footer {
  display: flex;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 50px;
}
.inform {
  color: #CACACA;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}
@media (min-width: 468px) and (max-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .menu {
    display: none;
  }
  .media_menu {
    display: block;
  }
  .banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
  }
  .banner_img {
    height: 300px;
  }
  .description {
    margin-top: -300px;
    height: 300px;
  }
  .description_h1 {
    font-size: 25px;
    margin-top: 85px;
    width: 85%;
  }
  .description_p {
    font-size: 21px;
    margin-top: 15px;
    width: 80%;
  }
  .see {
    margin-top: 18px;
  }
  .servises {
    width: 768px;
  }
  .work {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    flex-direction: column;
  }
  .olw {
    justify-content: center;
  }
  .work-block:first-child {
    margin-top: 0;
  }
  .quotes {
    height: 250px;
    background: #EFEFEF;
    margin-top: 56px;
  }
  .text_quote {
    width: 445px;
    height: 85px;
  }
  footer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 1600px;
  }
  .footer-social {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 1460px;
  }
  .get_in_touch {
    margin-right: 0px;
  }
  .twitter {
    margin-right: 0px;
  }
  .popular {
    margin-right: 0px;
  }
  .bottom_footer {
    align-self: center;
    margin-left: 0px;
  }
}
@media (max-width: 468px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .menu {
    display: none;
  }
  .media_menu {
    display: block;
  }
  .banner {
    height: 300px;
  }
  .banner_img {
    height: 300px;
  }
  .description {
    margin-top: -300px;
    height: 300px;
  }
  .description_h1 {
    font-size: 25px;
    margin-top: 90px;
    width: 75vw;
    height: fit-content;
  }
  .description_p {
    display: none;
  }
  .work {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
  }
  .work-block:first-child {
    margin-top: 0;
  }
  .olw {
    justify-content: center;
  }
  .bottom_footer {
    align-self: center;
    margin-left: 0px;
  }
}
